source https://www.nuget.org/api/v2
framework: net461
nuget BCrypt.Net-Next
nuget Chessie
nuget Chiron
nuget DotLiquid 2.0.64
nuget FAKE
nuget FSharp.Core
nuget stream-net
nuget Suave
nuget Suave.DotLiquid
nuget Suave.Experimental

group Database
source https://www.nuget.org/api/v2
framework: net461

nuget FluentMigrator
nuget Npgsql 3.1.10
nuget SQLProvider

group Email
source https://www.nuget.org/api/v2
framework: net461

nuget Postmark