<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <remove name="httpplatformhandler" />
      <add
        name="httpplatformhandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified"
      />
    </handlers>

    <httpPlatform 
      stdoutLogEnabled="true"
      stdoutLogFile="webserver.log"
      startupTimeLimit="20" 
      processPath="%HOME%\site\wwwroot\FsTweet.Web.exe"
      >

      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
    
  </system.webServer>
</configuration>