body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Guest Home Page */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Sign up & Sign In Forms */

.form-signin, .form-signup{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signup .form-signup-heading {
  margin-bottom: 10px;
}

.form-signin .form-control,
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-signin .form-control:focus, 
.form-signup .form-control:focus{
  z-index: 2;
}
.form-signin input[type="email"],
.form-signup input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"],
.form-signup input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p.well {
  margin-top: 50px
}

.tweet_button {
  margin-top: 5px;
}

.tweet_container {
  background-color: rgb(240, 247, 254);
  margin-bottom: 10px;
  padding: 5px;
}

.username {
  margin-top: 2px;
  font-size: x-large;
  color: grey;
}

#wall {
  margin-top: 50px
}

.tweet_read_view {
  background-color: rgb(240, 247, 254);
  margin-top: 12px;
  padding: 15px;
  font-size: larger
}

.tweet_read_view > span {
  font-size: smaller
}

#tweet {
  font-size: large  
}

.gravatar {
  border: 1px solid black
}

.gravatar_name {
  margin-top: 4px;
  font-size: 30px;
  color: grey;
}

.user-card {
  margin-top: 10px;
  padding: 5px;
  font-size: 25px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}