<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="scripts">
			{% block scripts %}
			{% endblock %}
		</div>		
	</body>
</html>