{% extends "master_page.liquid" %}

{% block head %}
  <title> Not Found :( </title>
{% endblock %}

{% block content %}
<div class="container">
  <p class="well"> {{model}} </p>
</div>
{% endblock %}