{% extends "master_page.liquid" %}

{% block head %}
  <title> Signup Success </title>
{% endblock %}

{% block content %}
<div class="container">
  <p class="well"> 
    Hi {{ model }}, Your account has been created. 
    Check your email to activate the account. 
  </p>
</div>
{% endblock %}